In [2]:
import pandas as pd
import numpy as np

# Limpieza

In [3]:
df = pd.read_csv("datasets/lineas_por_parada.csv", delimiter=",", encoding="latin1")

In [6]:
df.head(5)

   LINEA  STOP_ID
0  151.0  1000086
1  168.0  1000086
2  105.0  1005465
3   15.0  1002096
4   29.0  1002096

In [6]:
df.shape

(13885, 2)

bueno parece que esta bastante limpio, borramos los nulls que no sirven

In [7]:
df = df.dropna(how='any',axis=0)

In [8]:
df.shape

(13823, 2)

In [9]:
df['LINEA'] = df['LINEA'].apply(np.int64)

In [10]:
df.head(5)

   LINEA  STOP_ID
0    151  1000086
1    168  1000086
2    105  1005465
3     15  1002096
4     29  1002096

In [11]:
df[['LINEA','STOP_ID']].to_csv('datasets/lineas-por-paradas-clean.csv', index=False)

In [12]:
df_clean = pd.read_csv("datasets/lineas-por-paradas-clean.csv", delimiter=",", encoding="latin1")

In [14]:
df.head(5)

   LINEA  STOP_ID
0    151  1000086
1    168  1000086
2    105  1005465
3     15  1002096
4     29  1002096

In [15]:
df.shape

(8552, 2)