In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("datasets/recorrido-colectivos.csv", delimiter=";", encoding="latin1", error_bad_lines=False)

In [5]:
df.shape

(1113, 6)

In [6]:
df.WKT.head(1)

0    LINESTRING (-58.6241836989073 -34.562823500814...
Name: WKT, dtype: object

In [7]:
from geopandas import GeoDataFrame
from shapely.geometry import LineString
from shapely import  wkt
import json

In [18]:

# Create the pandas DataFrame 
df2 = pd.DataFrame(data = [['LINESTRING(77.29 29.07,77.42 29.26,77.27 29.31,77.29 29.07)']] , columns = ['linestring']) 
  
# print dataframe. 
df2['linestring'].apply(wkt.loads)
df2['linestring'].head(1).apply(wkt.loads)

0    LINESTRING (77.29000000000001 29.07, 77.42 29....
Name: linestring, dtype: object

In [38]:
df['WKT'].head(10).apply(wkt.loads)

0    LINESTRING (-58.6241836989073 -34.562823500814...
1    LINESTRING (-58.4625359653171 -34.555477023218...
2    LINESTRING (-58.4643450035316 -34.556404964623...
3    LINESTRING (-58.4643450035316 -34.556404964623...
4    LINESTRING (-58.6256346989071 -34.563149000814...
5    LINESTRING (-58.6256346989071 -34.563149000814...
6    LINESTRING (-58.4387300400178 -34.620189991944...
7    LINESTRING (-58.5016340989322 -34.674006500794...
8    LINESTRING (-58.5113275989328 -34.702186900792...
9    LINESTRING (-58.5113275989328 -34.702186900792...
Name: WKT, dtype: object

In [39]:
def isvalid(x):
    try:
        df2 = pd.DataFrame(data = [[x]], columns = ['linestring'])
        df2['linestring'].head(1).apply(wkt.loads)
        return True
    except:
        return False


df['is_valid'] = df['WKT'].apply(lambda x: isvalid(x))

ParseException: Expected number but encountered end of stream
ParseException: Expected word but encountered end of stream
ParseException: Expected number but encountered end of stream
ParseException: Expected number but encountered end of stream
ParseException: Expected word but encountered end of stream
ParseException: Expected number but encountered end of stream
ParseException: Expected number but encountered end of stream
ParseException: Expected number but encountered end of stream
ParseException: Expected number but encountered end of stream
ParseException: Expected number but encountered end of stream
ParseException: Expected number but encountered end of stream
ParseException: Expected word but encountered end of stream
ParseException: Expected word but encountered end of stream
ParseException: Expected number but encountered end of stream
ParseException: Expected number but encountered end of stream
ParseException: Expected number but encountered word: '-'
ParseException: Expected number but encountered end of stream

In [40]:
df.head(5)

,WKT,ID,LINEA,TIPO_SERVICIO,RAMAL,SENTIDO,is_valid
0,LINESTRING (-58.6241836989073 -34.562823500814...,8438,175,COMUN BASICO,RAMAL A,VUELTA,True
1,LINESTRING (-58.4625359653171 -34.555477023218...,8439,175,COMUN BASICO,RAMAL A,IDA,True
2,LINESTRING (-58.4643450035316 -34.556404964623...,8440,169,COMUN BASICO,RAMAL A,IDA,True
3,LINESTRING (-58.4643450035316 -34.556404964623...,8441,169,COMUN BASICO,RAMAL B,IDA,True
4,LINESTRING (-58.6256346989071 -34.563149000814...,8442,169,COMUN BASICO,RAMAL A,VUELTA,True

In [41]:
 df[df['is_valid'] == False].count()

WKT              17
ID               17
LINEA            17
TIPO_SERVICIO    17
RAMAL            17
SENTIDO          17
is_valid         17
dtype: int64

In [42]:
valid_df = df[df['is_valid']]

In [44]:
valid_df.shape

(1096, 7)

In [54]:
valid_df[['WKT','ID','LINEA', 'RAMAL','SENTIDO' ]].to_csv('datasets/recorridos-clean.csv', index=False)

In [55]:
df_clean = pd.read_csv("datasets/recorridos-clean.csv", delimiter=",", encoding="latin1")

In [56]:
df_clean.head()

,WKT,ID,LINEA,RAMAL,SENTIDO
0,LINESTRING (-58.6241836989073 -34.562823500814...,8438,175,RAMAL A,VUELTA
1,LINESTRING (-58.4625359653171 -34.555477023218...,8439,175,RAMAL A,IDA
2,LINESTRING (-58.4643450035316 -34.556404964623...,8440,169,RAMAL A,IDA
3,LINESTRING (-58.4643450035316 -34.556404964623...,8441,169,RAMAL B,IDA
4,LINESTRING (-58.6256346989071 -34.563149000814...,8442,169,RAMAL A,VUELTA

In [57]:
df_clean.shape

(1096, 5)